@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");
body {
  background: url(./images/blackBg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {
  font-family: "Orbitron";
}
